.contact{
    height:30vh;
    width:100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.content{
    padding: 20px;
    align-content: center;
    padding-bottom: 0;

}
.content h1{
    font-size: 3rem;
    font-weight: bolder;
    padding: 20px;
}
.content p{
    color: grey;
    height: 30px;
    width: 80%;
}
